<ul class="nav nav-tabs" id="myTab" role="tablist" >
  <li class="nav-item" *ngFor="let tab of tabs let index = index">
    <a class="nav-link" [ngClass]="{active: !index}" [id]="'home-tab'+tab.id"
       data-toggle="tab"  role="tab" (click)="getContent(index)">{{tab.title}}</a>

  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" [id]="'home' + currentTab.id" role="tabpanel" aria-labelledby="home-tab">
    <div *ngFor="let elem of currentTab.form">
    <div class="input-group" *ngIf="elem['type'] === 'text'">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    </div>
      <div class="input-group">
      <span class="input-group-addon" *ngIf="elem['type'] === 'bool'">
        <input type="radio" aria-label="Radio button for following text input">
      </span>
      </div>
      <div class="input-group">
        <textarea class="form-control form-rounded" rows="3" *ngIf="elem['type'] === 'text-area'"></textarea>
      </div>
      </div>
    </div>
  </div>

