/* You can add global styles to this file, and also import other style files */

$tabs_color:#00bb9a;
.nav-item {

  position: relative;
  margin-bottom: -2px !important;
  color: $tabs_color !important;

  .nav-link {
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
  }

  .nav-link.active {
    background-color: $tabs_color;
    border-radius: 0;
    border: inherit;
    color: white !important;
  }
}
.nav.nav-tabs{
  overflow: hidden;
  border: 1px solid $tabs_color;
}
.nav-link:after {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
}
.nav-link:after {

  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.nav-link.active:after {
  height: 0;
  width: 0;
  right: -26px;
  top: -10px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 26px solid $tabs_color;
  border-right: none;
}

.nav-item:last-child .nav-link:after, .nav-item:last-child .nav-link.active:after {
  border-left-color: transparent;
}

.nav-link.active:before {
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  top: -10px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 26px solid white;
}
.nav-item:first-child .nav-link:before {
  border-left-color: transparent;
}

.input-group{
  margin: 20px;
}


